html, body {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    background-color: #a9a9a9;
}

body {
    width: 70%;
    min-width: 800px;
    margin: 0 auto;
}

.details {
    font-family:  'Roboto Condensed', sans-serif;
    color: #2a2a2a;
    text-align: center;
}

h1 {
    font-size: 4rem;
    text-shadow: 2px 2px 10px black; 
}

h2 {
    font-size: 3rem;
}

p,li {
    font-size: 1.6rem;
    line-height: 1.5;
}